.breadcrumb{
    padding: 0.75rem 0 !important;
    margin:0 !important;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #EA6A12;
    content: "/\00a0";
}
.success_form,.error_form{
    display:none;
}
#rest_success{
    display:none;
}