/**/
/*************** start form ****************/
/**/

/**/
/* defaults */
/**/
.bee-form {
    margin: 0;
    outline: none;
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
    border: 1px solid #e2e2e2;
}

.bee-form header {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
    font-size: 25px;
    font-weight: 300;
    color: #232323;
}

.bee-form fieldset {
    display: block;
    padding: 10px 30px 10px;
    border: none;
    background: rgba(255, 255, 255, .9);
}

.bee-form fieldset + fieldset {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.bee-form section {
    margin-bottom: 20px;
}

.bee-form footer {
    display: block;
    padding: 15px 30px 25px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
}

.bee-form footer:after {
    content: '';
    display: table;
    clear: both;
}

.bee-form a {
    color: #2da5da;
}

.bee-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
}

.bee-form .label.col {
    margin: 0;
    padding-top: 10px;
}

.bee-form .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

.bee-form .input,
.bee-form .select,
.bee-form .textarea,
.bee-form .radio,
.bee-form .checkbox,
.bee-form .toggle,
.bee-form .button {
    position: relative;
    display: block;
}

.bee-form .input input,
.bee-form .select select,
.bee-form .textarea textarea {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 10px 15px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #fff;
    font: 13px/23px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 1.5;
}

.bee-form .progress {
    float: right;
    margin-top: 10px;
    line-height: 39px;
    color: #232323;
}

.bee-form button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**/
/* captcha inputs */
/**/
.bee-form .input-captcha img {
    position: absolute;
    top: 2px;
    right: 2px;
    border-left: 1px solid #e5e5e5;
}

/**/
/* file inputs */
/**/
.bee-form .input-file .button {
    position: absolute;
    top: 4px;
    right: 4px;
    float: none;
    height: 31px;
    margin: 0;
    padding: 0 20px;
    font-size: 13px;
    line-height: 31px;
}

.bee-form .input-file .button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bee-form .input-file .button input {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}

/**/
/* selects */
/**/
.bee-form .select i {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 28px;
    height: 35px;
    background: #fff;
    pointer-events: none;
    border: none;
}

.bee-form .select i:after,
.bee-form .select i:before {
    content: '';
    position: absolute;
    right: 10px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.bee-form .select i:after {
    bottom: 12px;
    border-top: 4px solid #404040;
}

.bee-form .select i:before {
    top: 12px;
    border-bottom: 4px solid #404040;
}

.bee-form .select select {
    padding-right: 28px;
}

.bee-form .select-multiple select {
    height: auto;
}

/**/
/* textareas */
/**/
.bee-form .textarea textarea {
    height: auto;
    resize: none;
}

.bee-form .textarea-resizable textarea {
    resize: vertical;
}

.bee-form .textarea-expandable textarea {
    height: 39px;
}

.bee-form .textarea-expandable textarea:focus {
    height: auto;
}

/**/
/* radios and checkboxes */
/**/
.bee-form .radio,
.bee-form .checkbox {
    margin-bottom: 4px;
    padding-left: 30px;
    font-size: 15px;
    line-height: 27px;
    color: #404040;
    cursor: pointer;
}

.bee-form .radio:last-child,
.bee-form .checkbox:last-child {
    margin-bottom: 0;
}

.bee-form .radio input,
.bee-form .checkbox input {
    position: absolute;
    left: -9999px;
}

.bee-form .radio i,
.bee-form .checkbox i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    background: rgb(255, 255, 255);
    font-size: 40px;
}

.bee-form .radio i {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.bee-form .radio input + i:after,
.bee-form .checkbox input + i:after {
    position: absolute;
    opacity: 0;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.bee-form .radio input + i:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.bee-form .checkbox input + i:after {
    content: '\f00c';
    top: 0px;
    left: 2px;
    width: 15px;
    height: 15px;
    font: normal 18px/16px FontAwesome;
    text-align: center;
}

.bee-form .radio input:checked + i:after,
.bee-form .checkbox input:checked + i:after {
    opacity: 1;
}

.bee-form .inline-group {
    margin: 0 -30px -4px 0;
}

.bee-form .inline-group:after {
    content: '';
    display: table;
    clear: both;
}

.bee-form .inline-group .radio,
.bee-form .inline-group .checkbox {
    float: left;
    margin-right: 30px;
}

.bee-form .inline-group .radio:last-child,
.bee-form .inline-group .checkbox:last-child {
    margin-bottom: 4px;
}

/**/
/* toggles */
/**/
.bee-form .toggle {
    margin-bottom: 4px;
    padding-right: 61px;
    font-size: 15px;
    line-height: 27px;
    color: #404040;
    cursor: pointer;
}

.bee-form .toggle:last-child {
    margin-bottom: 0;
}

.bee-form .toggle input {
    position: absolute;
    left: -9999px;
}

.bee-form .toggle i {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 49px;
    height: 17px;
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #fff;
}

.bee-form .toggle i:after {
    content: 'OFF';
    position: absolute;
    top: 2px;
    right: 8px;
    left: 8px;
    font-style: normal;
    font-size: 9px;
    line-height: 13px;
    font-weight: 700;
    text-align: left;
    color: #5f5f5f;
}

.bee-form .toggle i:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 4px;
    display: block;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 1;
    -ms-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
}

.bee-form .toggle input:checked + i:after {
    content: 'ON';
    text-align: right;
}

.bee-form .toggle input:checked + i:before {
    right: 36px;
}

/**/
/* ratings */
/**/
.bee-form .rating {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 27px;
    color: #404040;
}

.bee-form .rating:last-child {
    margin-bottom: 0;
}

.bee-form .rating input {
    position: absolute;
    left: -9999px;
}

.bee-form .rating label {
    display: block;
    float: right;
    height: 17px;
    margin-top: 5px;
    padding: 0 2px;
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
}

/**/
/* buttons */
/**/
.bee-form .button {
    /* float: right; */
    height: 39px;
    overflow: hidden;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.bee-form .button-uploading {
    position: relative;
    color: transparent;
    cursor: default;
}

.bee-form .button-uploading:after {
    content: 'Uploading...';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -o-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.3
    }
    100% {
        opacity: 1
    }
}

/**/
/* icons */
/**/
.bee-form .icon-append,
.bee-form .icon-prepend {
    position: absolute;
    top: 5px;
    width: 29px;
    height: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
}

.bee-form .icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}

.bee-form .icon-prepend {
    left: 5px;
    padding-right: 3px;
    border-right-width: 1px;
    border-right-style: solid;
}

.bee-form .input .icon-prepend + input,
.bee-form .textarea .icon-prepend + textarea {
    padding-left: 46px;
}

.bee-form .input .icon-append + input,
.bee-form .textarea .icon-append + textarea {
    padding-right: 46px;
}

.bee-form .input .icon-prepend + .icon-append + input,
.bee-form .textarea .icon-prepend + .icon-append + textarea {
    padding-left: 46px;
}

/**/
/* grid */
/**/
.bee-form .row {
    margin: 0 -15px;
}

.bee-form .row:after {
    content: '';
    display: table;
    clear: both;
}

.bee-form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bee-form .col-1 {
    width: 8.33%;
}

.bee-form .col-2 {
    width: 16.66%;
}

.bee-form .col-3 {
    width: 25%;
}

.bee-form .col-4 {
    width: 33.33%;
}

.bee-form .col-5 {
    width: 41.66%;
}

.bee-form .col-6 {
    width: 50%;
}

.bee-form .col-7 {
    width: 58.33%;
}

.bee-form .col-8 {
    width: 66.67%;
}

.bee-form .col-9 {
    width: 75%;
}

.bee-form .col-10 {
    width: 83.33%;
}

.bee-form .col-11 {
    width: 91.66%;
}

@media screen and (max-width: 600px) {
    .bee-form .col {
        float: none;
        width: 100%;
    }
}

/**/
/* tooltips */
/**/
.bee-form .tooltip {
    position: absolute;
    z-index: 1;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}

.bee-form .tooltip:after {
    content: '';
    position: absolute;
}

.bee-form .input input:focus + .tooltip,
.bee-form .textarea textarea:focus + .tooltip {
    opacity: 1;
}

.bee-form .tooltip-top-right {
    bottom: 100%;
    margin-bottom: 15px;
}

.bee-form .tooltip-top-right:after {
    top: 100%;
    right: 16px;
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.bee-form .input input:focus + .tooltip-top-right,
.bee-form .textarea textarea:focus + .tooltip-top-right {
    right: 0;
    left: auto;
    margin-bottom: 5px;
}

.bee-form .tooltip-top-left {
    bottom: 100%;
    margin-bottom: 15px;
}

.bee-form .tooltip-top-left:after {
    top: 100%;
    left: 16px;
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.bee-form .input input:focus + .tooltip-top-left,
.bee-form .textarea textarea:focus + .tooltip-top-left {
    right: auto;
    left: 0;
    margin-bottom: 5px;
}

.bee-form .tooltip-right {
    top: 9px;
    white-space: nowrap;
    margin-left: 15px;
}

.bee-form .tooltip-right:after {
    top: 6px;
    right: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid rgba(0, 0, 0, 0.9);
    border-bottom: 4px solid transparent;
}

.bee-form .input input:focus + .tooltip-right,
.bee-form .textarea textarea:focus + .tooltip-right {
    left: 100%;
    margin-left: 5px;
}

.bee-form .tooltip-left {
    top: 9px;
    white-space: nowrap;
    margin-right: 15px;
}

.bee-form .tooltip-left:after {
    top: 6px;
    left: 100%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgba(0, 0, 0, 0.9);
}

.bee-form .input input:focus + .tooltip-left,
.bee-form .textarea textarea:focus + .tooltip-left {
    right: 100%;
    left: auto;
    margin-right: 5px;
}

.bee-form .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}

.bee-form .tooltip-bottom-right:after {
    bottom: 100%;
    right: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}

.bee-form .input input:focus + .tooltip-bottom-right,
.bee-form .textarea textarea:focus + .tooltip-bottom-right {
    right: 0;
    left: auto;
    margin-top: 5px;
}

.bee-form .tooltip-bottom-left {
    top: 100%;
    margin-top: 15px;
}

.bee-form .tooltip-bottom-left:after {
    bottom: 100%;
    left: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}

.bee-form .input input:focus + .tooltip-bottom-left,
.bee-form .textarea textarea:focus + .tooltip-bottom-left {
    right: auto;
    left: 0;
    margin-top: 5px;
}

/**/
/* normal state */
/**/
.bee-form .input input,
.bee-form .select select,
.bee-form .textarea textarea,
.bee-form .radio i,
.bee-form .checkbox i,
.bee-form .toggle i,
.bee-form .icon-append,
.bee-form .icon-prepend {
    border-color: #e5e5e5;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.bee-form .toggle i:before {
    background-color: #2da5da;
}

.bee-form .rating label {
    color: #ccc;
    -ms-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.bee-form .button {
    background-color: #ee3733;

    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.bee-form .button.button-secondary {
    background-color: #b3b3b3;
}

.bee-form .icon-append,
.bee-form .icon-prepend {
    color: #ccc;
}

/**/
/* hover state */
/**/
.bee-form .input:hover input,
.bee-form .select:hover select,
.bee-form .textarea:hover textarea,
.bee-form .radio:hover i,
.bee-form .checkbox:hover i,
.bee-form .toggle:hover i,
.bee-form .ui-slider-handle:hover {
    border-color: #8dc9e5;
}

.bee-form .rating input + label:hover,
.bee-form .rating input + label:hover ~ label {
    color: #2da5da;
}

.bee-form .button:hover {
    opacity: .8;
}

/**/
/* focus state */
/**/
.bee-form .input input:focus,
.bee-form .select select:focus,
.bee-form .textarea textarea:focus,
.bee-form .radio input:focus + i,
.bee-form .checkbox input:focus + i,
.bee-form .toggle input:focus + i {
    border-color: #2da5da;
}

/**/
/* checked state */
/**/
.bee-form .radio input + i:after {
    background-color: #2da5da;
}

.bee-form .checkbox input + i:after {
    color: #2da5da;
}

.bee-form .radio input:checked + i,
.bee-form .checkbox input:checked + i,
.bee-form .toggle input:checked + i {
    border-color: #2da5da;
}

.bee-form .rating input:checked ~ label {
    color: #2da5da;
}

/**/
/* error state */
/**/
.bee-form .state-error input,
.bee-form .state-error select,
.bee-form .state-error select + i,
.bee-form .state-error textarea,
.bee-form .radio.state-error i,
.bee-form .checkbox.state-error i,
.bee-form .toggle.state-error i,
.bee-form .toggle.state-error input:checked + i {
    background: #fff0f0;
}

.bee-form .state-error + em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;

    color: #ff0000;

}

.bee-form .rating.state-error + em {
    margin-top: -4px;
    margin-bottom: 4px;
}

/**/
/* success state */
/**/
.bee-form .state-success input,
.bee-form .state-success select,
.bee-form .state-success select + i,
.bee-form .state-success textarea,
.bee-form .radio.state-success i,
.bee-form .checkbox.state-success i,
.bee-form .toggle.state-success i,
.bee-form .toggle.state-success input:checked + i {
    background: #f0fff0;
}

.bee-form .state-success + em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ee9393;
}

.bee-form .note-success {
    color: #6fb679;
}

/**/
/* disabled state */
/**/
.bee-form .input.state-disabled input,
.bee-form .select.state-disabled,
.bee-form .textarea.state-disabled,
.bee-form .radio.state-disabled,
.bee-form .checkbox.state-disabled,
.bee-form .toggle.state-disabled,
.bee-form .button.state-disabled {
    cursor: default;
    opacity: 0.5;
}

.bee-form .input.state-disabled:hover input,
.bee-form .select.state-disabled:hover select,
.bee-form .textarea.state-disabled:hover textarea,
.bee-form .radio.state-disabled:hover i,
.bee-form .checkbox.state-disabled:hover i,
.bee-form .toggle.state-disabled:hover i {
    border-color: #e5e5e5;
}

/**/
/* submited state */
/**/
.bee-form .message i{
    display: inline-block;
    margin: 0 6px 0 0;
    width: 21px;
    height: 21px;
    border: 1px solid #6fb679;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    float: left;
}
.bee-form .message.message-ok i {
    border-color: #6fb679;
    color: #6fb679;

}

.bee-form .message.message-error i {

    border-color:  #ee3733;
    color: #ee3733;

}

.bee-form .message {
    display: block;
    padding: 25px 30px;
    background: rgba(255, 255, 255, .9);
    font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: left;
}
.bee-form  .message.message-error {
    color: #D8000C;
    background-color: #facbcb;
}
.bee-form  .message-error p{
    color: #D8000C;
}
/**/
/* datepicker */
/**/
.ui-datepicker {
    display: none;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #666;
}

.ui-datepicker a {
    color: #404040;
}

.ui-datepicker-header {
    position: relative;
    margin: -10px -12px 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: 15px;
    line-height: 27px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: 0;
    display: block;
    width: 47px;
    height: 47px;
    font-size: 15px;
    line-height: 47px;
    text-decoration: none;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
}

.ui-datepicker-next {
    right: 0;
}

.ui-datepicker-calendar {
    border-collapse: collapse;
    font-size: 13px;
    line-height: 27px;
}

.ui-datepicker-calendar th {
    color: #999;
}

.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
    display: block;
    width: 31px;
    margin: auto;
    text-decoration: none;
    color: #404040;
}

.ui-datepicker-calendar a:hover {
    background: rgba(0, 0, 0, .05);
}

.ui-datepicker-calendar span {
    color: #bfbfbf;
}

.ui-datepicker-today a {
    font-weight: 700;
}

.ui-datepicker-calendar .ui-state-active {
    background: rgba(0, 0, 0, .05);
    cursor: default;
}

.ui-datepicker-inline {
    border: 2px solid #e5e5e5;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-datepicker-inline .ui-datepicker-header {
    line-height: 47px;
}

.ui-datepicker-inline .ui-datepicker-calendar {
    width: 100%;
}

/**/
/* slider */
/**/
.bee-form .ui-slider {
    position: relative;
    height: 3px;
    border: 2px solid #e5e5e5;
    background: #fff;
    margin: 12px 6px 26px;
}

.bee-form .ui-slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin: -8px 0 0 -8px;
    border: 2px solid #e5e5e5;
    outline: none;
    background: #fff;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

/**/
/* modal */
/**/
.bee-form-modal {
    position: fixed;
    z-index: 1;
    display: none;
    width: 400px;
}

.bee-form-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/**/
/* bootstrap compatibility */
/**/
.bee-form *,
.bee-form *:after,
.bee-form *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.bee-form .label {
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    color: inherit;
}

.bee-form .radio,
.bee-form .checkbox {
    font-weight: 400;
}

.bee-form .radio + .radio,
.bee-form .checkbox + .checkbox {
    margin-top: 0;
}

.bee-form .field-w {
    margin-bottom: 20px;
}

.bee-form-w.bee-form-w--inline {
    padding: 30px 0;
}

.is-personal-agree {
    cursor: pointer;
    position: relative;
    padding-left: 28px;
}

.is-personal-agree a {
    color: #1970c9;
    text-decoration: none;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
}

.styled-checkbox:hover + label:before {
    background: #f35429;
}

.styled-checkbox:focus + label:before {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #f35429;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bee-form-actions {
    text-align: center;
}

.personal_agree-block {
    margin: 15px 0;
}

/**/
/*************** end form ****************/
/**/
.robokassa__btn {
    padding: 0 3pt;
    width: 138px;
    height: 36px;
    border: 1px solid rgb(182, 211, 234);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16pt;
    background-color: #00BCD4;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.robokassa__btn:hover,
.robokassa__btn:focus,
.robokassa__btn:active {
    background-color: #00ACC1;
    outline: none;
}

.select-with-image__image img {
    max-width: 90px;
    max-height: 90px;

}

.select-with-image__image {
    display: inline-block;
    padding: 3px;
    border: 1px solid rgb(226, 226, 226);
    margin-right: 15px;
}

.field-w.select-with-image {
    border: 1px solid rgb(229, 229, 229);
}

.select-with-image__title {
    display: inline-block;
    width: auto;
    border: none;
    padding: 0 10px;
}

.bee-form .field-w.select-with-image .checkbox i {
    padding: 0;
    margin: 0;
    top: 50%;
    margin-top: -10px;
}

.bee-form .select-with-image__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding-bottom: 5px;
    margin-bottom: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.select-with-image__label:last-child {
    border-bottom: none;
}

.select-with-image__col.select-with-image__col--2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.select-with-image__description {
    display: block;
    font-size: 12px;
    color: #9E9E9E;
    line-height: 1.3;
}
.select-with-image__col {
    padding: 5px;
}
.select-with-image__price {
    white-space: nowrap;
}
.select-with-image__col.select-with-image__col--3 {
    min-width: 98px;
    text-align: right;
}
.label__text {
    margin-bottom: 3px;
    display: block;
}