@media all and (max-width: 600px) {
    .select-with-image__col {
        padding: 5px;
        text-align: center;
        position: relative;

        width: auto;
    }
    .select-with-image__col--1{
        padding-left: 30px;
    }
    .select-with-image__label{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bee-form .select-with-image__label {
        padding-left: 0;
    }
}